@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.bg {
  background: rgb(241, 235, 193);
  background: linear-gradient(
    0deg,
    rgba(241, 235, 193, 1) 45%,
    rgba(253, 187, 45, 0.06666666666666665) 74%
  );
}
.bg-login {
  background: rgb(227, 176, 43);
  background: linear-gradient(
    90deg,
    rgba(227, 176, 43, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.txtprim{
  color:  rgba(227, 176, 43, 1) ;
}

.bgprim{
  background:  rgba(227, 176, 43, 1) ;
}


.mahfud {
  display: grid;
}
.bg-primary{
  --tw-bg-opacity: 1;
  background-color: rgb(227 176 43 / var(--tw-bg-opacity));

}
.text-primary{--tw-text-opacity: 1;
  color: rgb(227 176 43 / var(--tw-text-opacity))}

  .App {
    font-family: sans-serif;
    text-align: center;
  }

  .shadowcard{
    box-shadow: 3px 6px 12px 0px rgba(0,0,0,0.30);
-webkit-box-shadow: 3px 6px 12px 0px rgba(0,0,0,0.30);
-moz-box-shadow: 3px 6px 12px 0px rgba(0,0,0,0.30);
  }
  